@font-face {
  font-family: "icons";
  src: url("icons.eot?d4472aa08a107c359e1035b8225b78bf");
  src: url("icons.eot?#iefix") format("embedded-opentype"), url("icons.woff?d4472aa08a107c359e1035b8225b78bf") format("woff"), url("icons.ttf?d4472aa08a107c359e1035b8225b78bf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.wm {
  font-family: "icons";
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wm_2-column-grid:before {
  content: "\f101";
}
.wm_3-column-grid:before {
  content: "\f102";
}
.wm_Heart:before {
  content: "\f103";
}
.wm_Pen:before {
  content: "\f104";
}
.wm_add-Circle:before {
  content: "\f105";
}
.wm_add-Square:before {
  content: "\f106";
}
.wm_add:before {
  content: "\f107";
}
.wm_announcement:before {
  content: "\f108";
}
.wm_apartment:before {
  content: "\f109";
}
.wm_area:before {
  content: "\f10a";
}
.wm_attachment:before {
  content: "\f10b";
}
.wm_back:before {
  content: "\f10c";
}
.wm_bar-graph:before {
  content: "\f10d";
}
.wm_battery-empty:before {
  content: "\f10e";
}
.wm_battery-full:before {
  content: "\f10f";
}
.wm_battery-half:before {
  content: "\f110";
}
.wm_battery-nearly-empty:before {
  content: "\f111";
}
.wm_bluetooth:before {
  content: "\f112";
}
.wm_bold:before {
  content: "\f113";
}
.wm_book-binding:before {
  content: "\f114";
}
.wm_book-open:before {
  content: "\f115";
}
.wm_book:before {
  content: "\f116";
}
.wm_bookmark:before {
  content: "\f117";
}
.wm_briefcase:before {
  content: "\f118";
}
.wm_brighness:before {
  content: "\f119";
}
.wm_calendar:before {
  content: "\f11a";
}
.wm_callout:before {
  content: "\f11b";
}
.wm_camera:before {
  content: "\f11c";
}
.wm_captions:before {
  content: "\f11d";
}
.wm_center-align:before {
  content: "\f11e";
}
.wm_chat:before {
  content: "\f11f";
}
.wm_check-1:before {
  content: "\f120";
}
.wm_circle:before {
  content: "\f121";
}
.wm_clear-formatting:before {
  content: "\f122";
}
.wm_clock:before {
  content: "\f123";
}
.wm_cloud-download:before {
  content: "\f124";
}
.wm_cloud-upload:before {
  content: "\f125";
}
.wm_cloud:before {
  content: "\f126";
}
.wm_code:before {
  content: "\f127";
}
.wm_coin:before {
  content: "\f128";
}
.wm_combine:before {
  content: "\f129";
}
.wm_compass:before {
  content: "\f12a";
}
.wm_copy:before {
  content: "\f12b";
}
.wm_cpu:before {
  content: "\f12c";
}
.wm_credit-card:before {
  content: "\f12d";
}
.wm_crown:before {
  content: "\f12e";
}
.wm_cup:before {
  content: "\f12f";
}
.wm_cut:before {
  content: "\f130";
}
.wm_dashboard:before {
  content: "\f131";
}
.wm_database:before {
  content: "\f132";
}
.wm_decrease-indent:before {
  content: "\f133";
}
.wm_disabled:before {
  content: "\f134";
}
.wm_disk:before {
  content: "\f135";
}
.wm_dislike:before {
  content: "\f136";
}
.wm_down-arrow-chevron:before {
  content: "\f137";
}
.wm_down-arrow-circle:before {
  content: "\f138";
}
.wm_down-arrow-thin:before {
  content: "\f139";
}
.wm_down-arrow:before {
  content: "\f13a";
}
.wm_down-triangle:before {
  content: "\f13b";
}
.wm_download:before {
  content: "\f13c";
}
.wm_drop:before {
  content: "\f13d";
}
.wm_edit:before {
  content: "\f13e";
}
.wm_eject:before {
  content: "\f13f";
}
.wm_email:before {
  content: "\f140";
}
.wm_enter:before {
  content: "\f141";
}
.wm_error-circle:before {
  content: "\f142";
}
.wm_error-triangle:before {
  content: "\f143";
}
.wm_euro:before {
  content: "\f144";
}
.wm_exit:before {
  content: "\f145";
}
.wm_eye:before {
  content: "\f146";
}
.wm_factory:before {
  content: "\f147";
}
.wm_film-reel:before {
  content: "\f148";
}
.wm_first:before {
  content: "\f149";
}
.wm_flag:before {
  content: "\f14a";
}
.wm_flame:before {
  content: "\f14b";
}
.wm_folder:before {
  content: "\f14c";
}
.wm_font-underline:before {
  content: "\f14d";
}
.wm_forward:before {
  content: "\f14e";
}
.wm_full-screen:before {
  content: "\f14f";
}
.wm_gear-sprocket:before {
  content: "\f150";
}
.wm_gift:before {
  content: "\f151";
}
.wm_glass:before {
  content: "\f152";
}
.wm_globe:before {
  content: "\f153";
}
.wm_go-to-beginning:before {
  content: "\f154";
}
.wm_hamburger-menu:before {
  content: "\f155";
}
.wm_hammer:before {
  content: "\f156";
}
.wm_hard-drive:before {
  content: "\f157";
}
.wm_headphones:before {
  content: "\f158";
}
.wm_help:before {
  content: "\f159";
}
.wm_hexagon:before {
  content: "\f15a";
}
.wm_home:before {
  content: "\f15b";
}
.wm_image:before {
  content: "\f15c";
}
.wm_increase-decrease:before {
  content: "\f15d";
}
.wm_increase-font-size:before {
  content: "\f15e";
}
.wm_increase-indent:before {
  content: "\f15f";
}
.wm_info:before {
  content: "\f160";
}
.wm_italic:before {
  content: "\f161";
}
.wm_justify:before {
  content: "\f162";
}
.wm_key:before {
  content: "\f163";
}
.wm_lab:before {
  content: "\f164";
}
.wm_laptop:before {
  content: "\f165";
}
.wm_last:before {
  content: "\f166";
}
.wm_layout:before {
  content: "\f167";
}
.wm_left-align:before {
  content: "\f168";
}
.wm_left-arrow-chevron:before {
  content: "\f169";
}
.wm_left-arrow-circle:before {
  content: "\f16a";
}
.wm_left-arrow-thin:before {
  content: "\f16b";
}
.wm_left-arrow:before {
  content: "\f16c";
}
.wm_left-triangle:before {
  content: "\f16d";
}
.wm_light-bulb:before {
  content: "\f16e";
}
.wm_lightning:before {
  content: "\f16f";
}
.wm_like:before {
  content: "\f170";
}
.wm_line-graph:before {
  content: "\f171";
}
.wm_link:before {
  content: "\f172";
}
.wm_list:before {
  content: "\f173";
}
.wm_loader:before {
  content: "\f174";
}
.wm_location-pin:before {
  content: "\f175";
}
.wm_location-pointer:before {
  content: "\f176";
}
.wm_location:before {
  content: "\f177";
}
.wm_lock:before {
  content: "\f178";
}
.wm_magnet:before {
  content: "\f179";
}
.wm_mail:before {
  content: "\f17a";
}
.wm_man:before {
  content: "\f17b";
}
.wm_map:before {
  content: "\f17c";
}
.wm_message:before {
  content: "\f17d";
}
.wm_microphone:before {
  content: "\f17e";
}
.wm_minimise:before {
  content: "\f17f";
}
.wm_monitor:before {
  content: "\f180";
}
.wm_more-actions:before {
  content: "\f181";
}
.wm_mouse:before {
  content: "\f182";
}
.wm_music:before {
  content: "\f183";
}
.wm_next:before {
  content: "\f184";
}
.wm_notification-off:before {
  content: "\f185";
}
.wm_notification-on:before {
  content: "\f186";
}
.wm_numbered-list:before {
  content: "\f187";
}
.wm_octagon:before {
  content: "\f188";
}
.wm_open-newwindow:before {
  content: "\f189";
}
.wm_overflow-menu:before {
  content: "\f18a";
}
.wm_page-empty:before {
  content: "\f18b";
}
.wm_page-text:before {
  content: "\f18c";
}
.wm_paper-airplane:before {
  content: "\f18d";
}
.wm_paste:before {
  content: "\f18e";
}
.wm_pause:before {
  content: "\f18f";
}
.wm_pencil-up:before {
  content: "\f190";
}
.wm_pencil:before {
  content: "\f191";
}
.wm_phone:before {
  content: "\f192";
}
.wm_pie-chart:before {
  content: "\f193";
}
.wm_pin-alternate:before {
  content: "\f194";
}
.wm_pin:before {
  content: "\f195";
}
.wm_play-circle:before {
  content: "\f196";
}
.wm_play:before {
  content: "\f197";
}
.wm_power:before {
  content: "\f198";
}
.wm_previous:before {
  content: "\f199";
}
.wm_print-output:before {
  content: "\f19a";
}
.wm_print:before {
  content: "\f19b";
}
.wm_printer:before {
  content: "\f19c";
}
.wm_quote-close:before {
  content: "\f19d";
}
.wm_quote-open:before {
  content: "\f19e";
}
.wm_reception:before {
  content: "\f19f";
}
.wm_redo:before {
  content: "\f1a0";
}
.wm_remove-circle:before {
  content: "\f1a1";
}
.wm_remove-square:before {
  content: "\f1a2";
}
.wm_remove:before {
  content: "\f1a3";
}
.wm_repeat:before {
  content: "\f1a4";
}
.wm_right-align:before {
  content: "\f1a5";
}
.wm_right-arrow-chevron:before {
  content: "\f1a6";
}
.wm_right-arrow-circle:before {
  content: "\f1a7";
}
.wm_right-arrow-thin:before {
  content: "\f1a8";
}
.wm_right-arrow:before {
  content: "\f1a9";
}
.wm_right-triangle:before {
  content: "\f1aa";
}
.wm_rocket:before {
  content: "\f1ab";
}
.wm_scale:before {
  content: "\f1ac";
}
.wm_share:before {
  content: "\f1ad";
}
.wm_shield:before {
  content: "\f1ae";
}
.wm_shopping-cart:before {
  content: "\f1af";
}
.wm_shuffle:before {
  content: "\f1b0";
}
.wm_skip-down:before {
  content: "\f1b1";
}
.wm_skip-left:before {
  content: "\f1b2";
}
.wm_skip-right:before {
  content: "\f1b3";
}
.wm_skip-to-end:before {
  content: "\f1b4";
}
.wm_skip-up:before {
  content: "\f1b5";
}
.wm_smiley-happy:before {
  content: "\f1b6";
}
.wm_smiley-sad:before {
  content: "\f1b7";
}
.wm_smiley:before {
  content: "\f1b8";
}
.wm_spanner:before {
  content: "\f1b9";
}
.wm_speaker:before {
  content: "\f1ba";
}
.wm_split:before {
  content: "\f1bb";
}
.wm_square:before {
  content: "\f1bc";
}
.wm_steering-wheel:before {
  content: "\f1bd";
}
.wm_stop:before {
  content: "\f1be";
}
.wm_subscript:before {
  content: "\f1bf";
}
.wm_superscript:before {
  content: "\f1c0";
}
.wm_sync:before {
  content: "\f1c1";
}
.wm_tag:before {
  content: "\f1c2";
}
.wm_tap:before {
  content: "\f1c3";
}
.wm_target:before {
  content: "\f1c4";
}
.wm_text-transform:before {
  content: "\f1c5";
}
.wm_trashcan:before {
  content: "\f1c6";
}
.wm_tree:before {
  content: "\f1c7";
}
.wm_triangle:before {
  content: "\f1c8";
}
.wm_umbrella:before {
  content: "\f1c9";
}
.wm_underline:before {
  content: "\f1ca";
}
.wm_undo:before {
  content: "\f1cb";
}
.wm_unlock:before {
  content: "\f1cc";
}
.wm_unread-message:before {
  content: "\f1cd";
}
.wm_up-arrow-chevron:before {
  content: "\f1ce";
}
.wm_up-arrow-circle:before {
  content: "\f1cf";
}
.wm_up-arrow-thin:before {
  content: "\f1d0";
}
.wm_up-arrow:before {
  content: "\f1d1";
}
.wm_up-triangle:before {
  content: "\f1d2";
}
.wm_upload:before {
  content: "\f1d3";
}
.wm_video-camera:before {
  content: "\f1d4";
}
.wm_video:before {
  content: "\f1d5";
}
.wm_volume-increase:before {
  content: "\f1d6";
}
.wm_volume-mute:before {
  content: "\f1d7";
}
.wm_volume-reduce:before {
  content: "\f1d8";
}
.wm_volume-zero:before {
  content: "\f1d9";
}
.wm_wand:before {
  content: "\f1da";
}
.wm_wi-fi:before {
  content: "\f1db";
}
.wm_window:before {
  content: "\f1dc";
}
.wm_windows:before {
  content: "\f1dd";
}
.wm_woman:before {
  content: "\f1de";
}
.wm_zoom-in:before {
  content: "\f1df";
}
.wm_zoom-out:before {
  content: "\f1e0";
}
.wm_zoom:before {
  content: "\f1e1";
}

