<wm-partial data-ng-controller="leftnavPageController" name="leftnav" type="left-panel"> 
    <wm-nav type="pills" layout="stacked"> 
        <wm-nav-item> 
            <wm-anchor caption="New Post" iconclass="glyphicon glyphicon-plus" class="active"></wm-anchor> 
        </wm-nav-item> 
        <wm-nav-item> 
            <wm-anchor caption="Bookmark" iconclass="glyphicon glyphicon-bookmark"></wm-anchor> 
        </wm-nav-item> 
        <wm-nav-item> 
            <wm-anchor caption="Official Twitter" iconclass="glyphicon glyphicon-bookmark" name="anchor3"></wm-anchor> 
        </wm-nav-item> 
    </wm-nav> 
    <wm-nav type="pills" layout="stacked" name="nav2"> 
        <wm-nav-item> 
            <wm-anchor caption="Settings" display="inline-block"></wm-anchor> 
            <wm-label caption="3" class="badge" backgroundcolor="#b94a48" color="#fff"></wm-label> 
        </wm-nav-item> 
        <wm-nav-item> 
            <wm-anchor caption="Help"></wm-anchor> 
        </wm-nav-item> 
        <wm-nav-item> 
            <wm-anchor caption="Send Feedback"></wm-anchor> 
        </wm-nav-item> 
    </wm-nav> 
</wm-partial>