<wm-page data-ng-controller="AddPortfolioPageController" name="page1"> 
    <wm-mobile-navbar name="mobile_navbar1" title="Add Portfolio" backbuttoniconclass="wi wi-back"></wm-mobile-navbar> 
    <wm-content name="content1"> 
        <wm-page-content columnwidth="12" name="page_content1" backgroundcolor="#ffffff" horizontalalign="left" padding="25% 5%"> 
            <wm-form name="form" on-submit="Variables.insertPortfolio.createRecord()"> 
                <wm-layoutgrid name="layoutgrid1"> 
                    <wm-gridrow name="gridrow1"> 
                        <wm-gridcolumn name="gridcolumn1" class="col-xs-12"> 
                            <wm-label name="label2" caption="bind:Variables.SymbolObject.dataSet.symbol+&quot; .&quot;+Variables.SymbolObject.dataSet.StockExchange" fontsize="20" fontweight="bold"></wm-label> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                    <wm-gridrow name="gridrow4"> 
                        <wm-gridcolumn columnwidth="12" name="gridcolumn11" class="col-xs-12"> 
                            <wm-label name="label1" caption="bind:Variables.SymbolObject.dataSet.Name" fontsize="15" class="truncate"></wm-label> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                    <wm-gridrow name="gridrow4_1"> 
                        <wm-gridcolumn columnwidth="12" name="gridcolumn4" class="col-xs-12"> 
                            <wm-composite name="composite3"> 
                                <wm-container class="col-md-9" name="container3" width="100%"> 
                                    <wm-text name="numberOfStocks" placeholder="Number of stocks owned" fontsize="0.9" fontunit="em" minvalue="null" required="true" type="number"></wm-text> 
                                </wm-container> 
                            </wm-composite> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                    <wm-gridrow name="gridrow5"> 
                        <wm-gridcolumn columnwidth="12" name="gridcolumn5" class="col-xs-12"> 
                            <wm-composite name="composite10"> 
                                <wm-container class="col-md-9" name="container10" width="100%"> 
                                    <wm-text placeholder="Bid Value in $" fontsize="0.9" fontunit="em" name="stockPrice" minvalue="null" required="true" type="number" width="219"></wm-text> 
                                </wm-container> 
                            </wm-composite> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                    <wm-gridrow name="gridrow6"> 
                        <wm-gridcolumn columnwidth="12" name="gridcolumn6" class="col-xs-12"> 
                            <wm-composite name="composite5"> 
                                <wm-container class="col-md-9" name="container5" width="100%"> 
                                    <wm-text name="commission" placeholder="Broker Commission in %" fontsize="0.9" fontunit="em" minvalue="null" required="true" type="number" maxvalue="100"></wm-text> 
                                </wm-container> 
                            </wm-composite> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                    <wm-gridrow name="gridrow8"> 
                        <wm-gridcolumn columnwidth="12" name="gridcolumn9" horizontalalign="center"> 
                            <wm-button class="btn-default" caption="Save" type="submit" name="button1" backgroundcolor="#F2AE43" color="#1f1e1e" display="initial" fontweight="bold" fontsize="13" disabled="false" padding="unset 30px"></wm-button> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                </wm-layoutgrid> 
            </wm-form> 
        </wm-page-content> 
    </wm-content> 
</wm-page>