<wm-page data-ng-controller="StockDataPageController" name="page1">
    <wm-mobile-navbar name="mobile_navbar1" title="bind:Variables.stockData.dataSet.query.results.quote.Name" backbuttoniconclass="wi wi-back">
        <wm-menu type="anchor" caption="" name="selectMenu" menuposition="down,left" dataset="Add To Wish List,Add To Portfolio" show="bind:!$root.APP_RUN_MODE || Variables.StateObject.dataSet.stockDataPageState === &quot;1&quot; ? true : false" iconclass="wm wm_add fa-2x"
        on-select="selectMenuSelect($event, $scope, $item)"></wm-menu>
        <wm-menu type="anchor" caption="" name="compare" dataset="Compare,Delete" show="bind:Variables.StateObject.dataSet.stockDataPageState === &quot;2&quot; ? true : false" iconclass="wm wm_overflow-menu fa-2x" menuposition="down,left" on-select="compareSelect($event, $scope, $item)"
        paddingunit="em" fontunit="pt" fontsize="1"></wm-menu>
    </wm-mobile-navbar>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-container name="container11" show="true" height="100%" data-ng-class="{'gain': (Variables.stockData.dataSet.query.results.quote.Change>0), 'loss': (Variables.stockData.dataSet.query.results.quote.Change<0) }">
                <wm-container name="container1" show="bind:!$root.APP_RUN_MODE || Variables.stockData.dataSet.dataValue !== ''" class="stockData" padding="3em 5em">
                    <wm-label name="label4" caption="bind:Variables.stockData.dataSet.query.results.quote.Symbol+' : '+Variables.stockData.dataSet.query.results.quote.StockExchange || 'This Stock Is not available'" display="block" fontsize="1.6" color="#ffffff"
                    fontunit="em"></wm-label>
                    <wm-label name="label5" caption="bind:Variables.stockData.dataSet.query.results.quote.Ask" display="block" fontsize="4.6" show="true" color="#ffffff" fontunit="em" margin="0.5em unset 0.6em unset"></wm-label>
                    <wm-icon name="icon3_1" show="bind:Variables.stockData.dataSet.query.results.quote.Change >=0" iconclass="wm wm_up-arrow-thin fa-2x" color="#ffffff"></wm-icon>
                    <wm-icon name="icon4_1" iconclass="wm wm_down-arrow-thin fa-2x" show="bind:Variables.stockData.dataSet.query.results.quote.Change <0 " color="#ffffff"></wm-icon>
                    <wm-label name="label6_1" caption="bind:(Variables.stockData.dataSet.query.results.quote.Change || '+0.00')+' ('+(Variables.stockData.dataSet.query.results.quote.PercentChange || '+0.00%')+')'" display="initial" fontsize="2"
                    show="true" color="#ffffff" fontunit="em"></wm-label>
                </wm-container>
                <wm-layoutgrid name="buttongroup1" width="100%" backgroundcolor="rgba(0,0,0,0.1)" padding=".4em unset unset unset">
                    <wm-anchor class="btn-default col-xs-2 graph-tabs" caption="1W" name="weekOne" on-tap="weekOneTap($event, $scope)" backgroundcolor="transparent" opacity="1" color="#fff" bordercolor="transparent" textalign="center" padding="0.8em unset"></wm-anchor>
                    <wm-anchor class="btn-default col-xs-2 graph-tabs" caption="2W" name="weekTwo" on-tap="weekTwoTap($event, $scope)" backgroundcolor="transparent" color="#fff" bordercolor="transparent" textalign="center" padding="0.8em unset"></wm-anchor>
                    <wm-anchor class="btn-default col-xs-2 graph-tabs" caption="1M" name="monthOne" on-tap="monthOneTap($event, $scope)" backgroundcolor="transparent" color="#fff" bordercolor="transparent" textalign="center" padding="0.8em unset"></wm-anchor>
                    <wm-anchor class="btn-default col-xs-2 graph-tabs" caption="3M" name="monthThree" on-tap="monthThreeTap($event, $scope)" backgroundcolor="transparent" color="#fff" bordercolor="transparent" textalign="center" padding="0.8em unset"></wm-anchor>
                    <wm-anchor class="btn-default col-xs-2 graph-tabs" caption="6M" name="halfYear" on-tap="halfYearTap($event, $scope)" backgroundcolor="transparent" color="#fff" bordercolor="transparent" textalign="center" padding="0.8em unset"></wm-anchor>
                    <wm-anchor class="btn-default col-xs-2 graph-tabs" caption="1Y" name="year" on-tap="yearTap($event, $scope)" backgroundcolor="transparent" color="#fff" bordercolor="transparent" textalign="center" padding="0.8em unset"></wm-anchor>
                </wm-layoutgrid>
                <wm-container name="container3" width="100%" backgroundcolor="#ffffff">
                    <wm-chart type="Area" theme="Terrestrial" offsetleft="0" offsetright="0" offsettop="20" offsetbottom="10" dataset="bind:Variables.graphData.dataSet" tooltips="true" showlegend="false" captions="false" showxaxis="false" showyaxis="false"
                    linethickness="2" height="210px" name="chart1" on-transform="chart1Transform($event, $scope)" backgroundimage="resources/images/imagelists/graphBG.png" yaxisdatakey="Open" xaxisdatakey="Date" ydomain="Min" xdomain="Default" customcolors="bind:['#746A60']"
                    margin="unset 2px"></wm-chart>
                    <wm-layoutgrid name="layoutgrid1">
                        <wm-gridrow name="gridrow1" padding="1.5em unset">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn1" horizontalalign="center">
                                <wm-label name="label25" caption="bind:Variables.currentDate.dataSet.dataValue | date : 'EEEE MMM yyyy' | uppercase"></wm-label>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-list name="list1" class="list">
                            <wm-list-item name="list_item2">
                                <wm-gridrow name="gridrow18" padding="1em">
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn34" padding="unset 0.5em unset unset">
                                        <wm-gridrow name="gridrow19">
                                            <wm-gridcolumn columnwidth="4" name="gridcolumn35">
                                                <wm-label caption="Close" name="label44"></wm-label>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="8" horizontalalign="right" name="gridcolumn36">
                                                <wm-label caption="bind:Variables.symbolData.dataSet.query.results.quote.PreviousClose" textalign="right" fontweight="bold" color="#5B5D5F" name="label45"></wm-label>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn37" padding="unset unset unset 0.5em">
                                        <wm-gridrow name="gridrow20">
                                            <wm-gridcolumn columnwidth="4" name="gridcolumn38">
                                                <wm-label caption="Open" name="label46"></wm-label>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="8" horizontalalign="right" name="gridcolumn39">
                                                <wm-label caption="bind:Variables.symbolData.dataSet.query.results.quote.Open" color="#5B5D5F" fontweight="bold" name="label47"></wm-label>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-list-item>
                            <wm-list-item name="list_item3">
                                <wm-gridrow name="gridrow21" padding="1em">
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn40" padding="unset 0.5em unset unset">
                                        <wm-gridrow name="gridrow22">
                                            <wm-gridcolumn columnwidth="4" name="gridcolumn41">
                                                <wm-label caption="Low" name="label48"></wm-label>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="8" horizontalalign="right" name="gridcolumn42">
                                                <wm-label caption="bind:Variables.symbolData.dataSet.query.results.quote.DaysLow" textalign="right" color="#5B5D5F" fontweight="bold" name="label49"></wm-label>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn43" padding="unset unset unset 0.5em">
                                        <wm-gridrow name="gridrow23">
                                            <wm-gridcolumn columnwidth="4" name="gridcolumn44">
                                                <wm-label caption="High" name="label50"></wm-label>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="8" horizontalalign="right" name="gridcolumn45">
                                                <wm-label caption="bind:Variables.symbolData.dataSet.query.results.quote.DaysHigh" color="#5B5D5F" fontweight="bold" name="label51"></wm-label>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-list-item>
                            <wm-list-item name="list_item4">
                                <wm-gridrow name="gridrow24" padding="1em">
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn46" padding="unset 0.5em unset unset">
                                        <wm-gridrow name="gridrow25">
                                            <wm-gridcolumn columnwidth="5" name="gridcolumn47">
                                                <wm-label caption="52wk Low" name="label52"></wm-label>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="7" horizontalalign="right" name="gridcolumn48">
                                                <wm-label caption="bind:Variables.symbolData.dataSet.query.results.quote.YearLow" textalign="right" color="#5B5D5F" fontweight="bold" name="label53"></wm-label>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn49" padding="unset unset unset 0.5em">
                                        <wm-gridrow name="gridrow26_1">
                                            <wm-gridcolumn columnwidth="6" name="gridcolumn50_1">
                                                <wm-label caption="52wk High" name="label54"></wm-label>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="6" horizontalalign="right" name="gridcolumn51_1">
                                                <wm-label caption="bind:Variables.symbolData.dataSet.query.results.quote.YearHigh" fontweight="bold" color="#5B5D5F" name="label55"></wm-label>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-list-item>
                            <wm-list-item name="list_item5">
                                <wm-gridrow name="gridrow27_1" padding="1em">
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn52_1" padding="unset 0.5em unset unset">
                                        <wm-gridrow name="gridrow28_1">
                                            <wm-gridcolumn columnwidth="5" name="gridcolumn53_1">
                                                <wm-label caption="Mkt Cap" name="label56"></wm-label>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="7" horizontalalign="right" name="gridcolumn54_1">
                                                <wm-label caption="bind:Variables.symbolData.dataSet.query.results.quote.MarketCapitalization" textalign="right" color="#5B5D5F" fontweight="bold" name="label57"></wm-label>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn55_1" padding="unset unset unset 0.5em">
                                        <wm-gridrow name="gridrow29">
                                            <wm-gridcolumn columnwidth="4" name="gridcolumn56">
                                                <wm-label caption="Volume" name="label58"></wm-label>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="8" horizontalalign="right" name="gridcolumn57">
                                                <wm-label caption="bind:Variables.symbolData.dataSet.query.results.quote.Volume" fontweight="bold" color="#5B5D5F" name="label59"></wm-label>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-list-item>
                            <wm-list-item name="list_item5">
                                <wm-gridrow name="gridrow27_1" padding="1em">
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn52_1" padding="unset 0.5em unset unset">
                                        <wm-gridrow name="gridrow28_1">
                                            <wm-gridcolumn columnwidth="6" name="gridcolumn53_1">
                                                <wm-label caption="1Y Target" name="label44_1"></wm-label>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="6" horizontalalign="right" name="gridcolumn54_1">
                                                <wm-label caption="bind:Variables.symbolData.dataSet.query.results.quote.MarketCapitalization" textalign="right" color="#5B5D5F" fontweight="bold" name="label57"></wm-label>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn55_1" padding="unset unset unset 0.5em">
                                        <wm-gridrow name="gridrow29">
                                            <wm-gridcolumn columnwidth="4" name="gridcolumn56">
                                                <wm-label caption="Avg Vol" name="label45_1"></wm-label>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="8" horizontalalign="right" name="gridcolumn57">
                                                <wm-label caption="bind:Variables.symbolData.dataSet.query.results.quote.AverageDailyVolume" textalign="right" fontweight="bold" color="#5B5D5F" name="label46_1"></wm-label>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-list-item>
                        </wm-list>
                    </wm-layoutgrid>
                </wm-container>
            </wm-container>
        </wm-page-content>
    </wm-content>
</wm-page>