.gain {
    background-color: #87AD4F;
}
.loss {
    background-color: #B83D3D;
}
.wm-app .btn-default.graph-tabs.active,
.wm-app .btn-default.graph-tabs:active,
.wm-app .btn-default.graph-tabs:focus,
.wm-app .btn-default.graph-tabs:hover,
.wm-app .btn-default.graph-tabs.active:hover {
    background-color: #fff !important;
    color: inherit !important;
    text-decoration: none;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    /*height: 20px !important;*/
}