<wm-partial data-ng-controller="CompareGraphPageController" name="partial1">
    <wm-container name="container1" backgroundcolor="#ffffff">
        <wm-layoutgrid name="layoutgrid2">
            <wm-gridrow name="gridrow15" horizontalalign="left">
                <wm-gridcolumn columnwidth="12" name="gridcolumn28" horizontalalign="right">
                    <wm-icon name="icon1" iconclass="fa fa-circle" color="#0CA7A1"></wm-icon>
                    <wm-label caption="bind:Variables.symbolData.dataSet.query.results.quote[0].Symbol" name="label19_1" display="inline" padding="unset 1em unset 0.5em"></wm-label>
                    <wm-icon iconclass="fa fa-circle" name="icon2" color="#D68524"></wm-icon>
                    <wm-label caption="bind:Variables.symbolData.dataSet.query.results.quote[1].Symbol" name="label20_1" display="inline" padding="unset 2em unset 0.5em"></wm-label>
                </wm-gridcolumn>
            </wm-gridrow>
        </wm-layoutgrid>
        <wm-chart type="Cumulative Line" theme="Retro" offsetleft="10" offsetright="10" offsettop="20" offsetbottom="10" dataset="bind:Variables.compareGraphData.dataSet" tooltips="true" showlegend="false" captions="false" showxaxis="false" showyaxis="false"
        linethickness="2" name="chart1" on-transform="chart1Transform($event, $scope)" xaxisdatakey="date" yaxisdatakey="openFirst,openSecond" show="true" backgroundimage="resources/images/imagelists/graphBG.png" highlightpoints="false"></wm-chart>
        <wm-layoutgrid name="layoutgrid1" padding="unset 5px">
            <wm-gridrow name="gridrow14_1" padding="1.5em unset">
                <wm-gridcolumn columnwidth="12" name="gridcolumn27" horizontalalign="center">
                    <wm-label caption="bind:Variables.currentDate.dataSet.dataValue | date : 'EEEE MMM yyyy'" name="label21_1"></wm-label>
                </wm-gridcolumn>
            </wm-gridrow>
            <wm-list name="list2">
                <wm-list-item name="list_item2">
                    <wm-gridrow name="gridrow1" bordercolor="#F4F4F4" padding="1em">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn3" horizontalalign="center">
                            <wm-label name="label6" caption="bind:Variables.symbolData.dataSet.query.results.quote[0].Symbol" fontweight="bold" color="#5B5D5F"></wm-label>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn11_1" horizontalalign="center">
                            <wm-label caption="bind:Variables.symbolData.dataSet.query.results.quote[1].Symbol" name="label15" color="#5B5D5F" fontweight="bold"></wm-label>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-list-item>
                <wm-list-item name="list_item2">
                    <wm-gridrow name="gridrow21" padding="1em">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn38" padding="unset 0.5em unset unset">
                            <wm-gridrow name="gridrow22_1">
                                <wm-gridcolumn columnwidth="4" name="gridcolumn39">
                                    <wm-label caption="Low" name="label26"></wm-label>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="8" horizontalalign="right" name="gridcolumn40_1">
                                    <wm-label caption="bind:Variables.symbolData.dataSet.query.results.quote[0].DaysLow" textalign="right" fontweight="bold" color="#5B5D5F" name="label27_1"></wm-label>
                                </wm-gridcolumn>
                            </wm-gridrow>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn41_1" padding="unset unset unset 0.5em">
                            <wm-gridrow name="gridrow23">
                                <wm-gridcolumn columnwidth="4" name="gridcolumn42">
                                    <wm-label caption="Low" name="label28"></wm-label>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="8" horizontalalign="right" name="gridcolumn43">
                                    <wm-label caption="bind:Variables.symbolData.dataSet.query.results.quote[1].DaysLow" fontweight="bold" color="#5B5D5F" name="label29"></wm-label>
                                </wm-gridcolumn>
                            </wm-gridrow>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-list-item>
                <wm-list-item name="list_item2">
                    <wm-gridrow name="gridrow21" padding="1em">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn38" padding="unset 0.5em unset unset">
                            <wm-gridrow name="gridrow22_1">
                                <wm-gridcolumn columnwidth="4" name="gridcolumn39">
                                    <wm-label caption="High" name="label42"></wm-label>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="8" horizontalalign="right" name="gridcolumn40_1">
                                    <wm-label caption="bind:Variables.symbolData.dataSet.query.results.quote[0].DaysHigh" textalign="right" fontweight="bold" color="#5B5D5F" name="label44"></wm-label>
                                </wm-gridcolumn>
                            </wm-gridrow>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn41_1" padding="unset unset unset 0.5em">
                            <wm-gridrow name="gridrow23">
                                <wm-gridcolumn columnwidth="4" name="gridcolumn42">
                                    <wm-label caption="High" name="label45"></wm-label>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="8" horizontalalign="right" name="gridcolumn43">
                                    <wm-label caption="bind:Variables.symbolData.dataSet.query.results.quote[1].DaysHigh" fontweight="bold" color="#5B5D5F" name="label46"></wm-label>
                                </wm-gridcolumn>
                            </wm-gridrow>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-list-item>
                <wm-list-item name="list_item2">
                    <wm-gridrow name="gridrow21" padding="1em">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn38" padding="unset 0.5em unset unset">
                            <wm-gridrow name="gridrow22_1">
                                <wm-gridcolumn columnwidth="5" name="gridcolumn39">
                                    <wm-label caption="Mkt Cap" name="label34"></wm-label>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="7" horizontalalign="right" name="gridcolumn40_1">
                                    <wm-label caption="bind:Variables.symbolData.dataSet.query.results.quote[0].DaysLow" textalign="right" fontweight="bold" color="#5B5D5F" name="label27_1"></wm-label>
                                </wm-gridcolumn>
                            </wm-gridrow>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn41_1" padding="unset unset unset 0.5em">
                            <wm-gridrow name="gridrow23">
                                <wm-gridcolumn columnwidth="5" name="gridcolumn42">
                                    <wm-label caption="Mkt Cap" name="label35"></wm-label>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="7" horizontalalign="right" name="gridcolumn43">
                                    <wm-label caption="bind:Variables.symbolData.dataSet.query.results.quote[1].MarketCapitalization" fontweight="bold" color="#5B5D5F" name="label36"></wm-label>
                                </wm-gridcolumn>
                            </wm-gridrow>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-list-item>
                <wm-list-item name="list_item2">
                    <wm-gridrow name="gridrow21" padding="1em">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn38" padding="unset 0.5em unset unset">
                            <wm-gridrow name="gridrow22_1">
                                <wm-gridcolumn columnwidth="4" name="gridcolumn39">
                                    <wm-label caption="Volume" name="label37"></wm-label>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="8" horizontalalign="right" name="gridcolumn40_1">
                                    <wm-label caption="bind:Variables.symbolData.dataSet.query.results.quote[0].Volume" textalign="right" fontweight="bold" color="#5B5D5F" name="label38"></wm-label>
                                </wm-gridcolumn>
                            </wm-gridrow>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn41_1" padding="unset unset unset 0.5em">
                            <wm-gridrow name="gridrow23">
                                <wm-gridcolumn columnwidth="4" name="gridcolumn42">
                                    <wm-label caption="Volume" name="label39"></wm-label>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="8" horizontalalign="right" name="gridcolumn43">
                                    <wm-label caption="bind:Variables.symbolData.dataSet.query.results.quote[1].Volume" fontweight="bold" color="#5B5D5F" name="label40"></wm-label>
                                </wm-gridcolumn>
                            </wm-gridrow>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-list-item>
            </wm-list>
        </wm-layoutgrid>
    </wm-container>
</wm-partial>