<wm-page data-ng-controller="WishListPageController" name="page1"> 
    <wm-mobile-navbar name="mobileNav" title="Selects" backbuttoniconclass="wi wi-back" show="true"> 
        <wm-anchor caption="" name="compareBtn" iconclass="fa fa-check" on-click="Variables.goToPage_Compare.invoke()" show="false"></wm-anchor> 
    </wm-mobile-navbar> 
    <wm-content name="content1"> 
        <wm-page-content columnwidth="12" name="page_content1" paddingleft="5" paddingright="5"> 
            <wm-livelist listclass="list-group" itemclass="list-group-item" name="wishList" dataset="bind:Variables.wishList.dataSet" on-click="wishListClick($event, $scope)" marginunit="em" margintop="1"> 
                <wm-listtemplate layout="blank" name="listtemplate1"> 
                    <wm-container class="stock-list" data-template-ctr="true" name="container1"> 
                        <wm-layoutgrid name="layoutgrid1"> 
                            <wm-gridrow name="gridrow1"> 
                                <wm-gridcolumn columnwidth="11" name="gridcolumn1"> 
                                    <wm-label width="100%" caption="bind:Variables.wishList.dataSet.Symbol" name="label9" color="#4A4340" fontsize="1.2" fontunit="em" fontweight="bold" marginbottom="2"></wm-label> 
                                    <wm-label width="100%" caption="bind:Variables.wishList.dataSet.Name" name="label5" color="#8e8e8e" fontsize="0.84" fontunit="em" fontweight="bold" class="truncate"></wm-label> 
                                </wm-gridcolumn> 
                                <wm-gridcolumn columnwidth="1" name="gridcolumn4" paddingtop="1" paddingunit="em"> 
                                    <wm-icon name="icon2" iconclass="wm wm_eye fa-2x" color="#5E6264"></wm-icon> 
                                </wm-gridcolumn> 
                            </wm-gridrow> 
                        </wm-layoutgrid> 
                    </wm-container> 
                </wm-listtemplate> 
            </wm-livelist> 
        </wm-page-content> 
    </wm-content> 
</wm-page>