.wm_up-arrow-thin {
    color: #79995C;
}
.wm_down-arrow-thin {
    color: #A23A4A;
}
.chart {
    margin: auto;
    width: 60%;
}
.exist {
    color: #e99939;
}
.not-exist {
    color: #5E6264;
}
.wm-app .app-mobile-navbar .searchbar .search-container, .wm-app .app-mobile-navbar .btn-back .search-container{
    background-color: transparent;
}
/*removes box-shadow for livelist(theme)*/
.wm-app .app-livelist.panel {
    box-shadow: none;
}
/*removes spacing from top for menu(theme)*/
.wm-app .open > .dropdown-menu {
    top:99%;
}
/*segmented control scroll*/
.app-segmented-control .app-segments-container {
    overflow-y: auto;
    overflow-x: hidden;
}