<wm-page data-ng-controller="MainPageController" name="page1">
    <wm-mobile-navbar name="mobile_navbar1" backbutton="false" searchbutton="{{!Widgets.WishList.selecteditem.length}}" searchbuttoniconclass="wm wm_zoom fa-2x" defaultview="actionview" searchkey="symbol" displaylabel="symbol" on-search="Variables.SymbolSearchDB.invoke()">
        <wm-anchor name="anchor1" caption="" iconclass="glyphicon glyphicon-ok" show="bind:Widgets.WishList.selecteditem.length > 1" on-tap="anchor1Tap($event, $scope);Variables.goToPage_Compare.invoke()"></wm-anchor>
    </wm-mobile-navbar>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-container name="dataView" height="100%" show="bind:!Widgets.mobile_navbar1.showSearchbar" horizontalalign="left" paddingunit="%" marginunit="%">
                <wm-segmented-control name="segmentControl" on-segmentchange="segmented_control2SegmentChange($scope, $old, $new)" on-beforesegmentchange="segmentControlBeforeSegmentChange($scope, $old, $new)" zindex="3" show="bind:Variables.network_status.dataSet.isOnline">
                    <wm-segment-content caption="" name="DashboardSegmentContent" show="true" iconclass="fa fa-line-chart fa-2x" borderstyle="none" loadmode="after-select" title="bind:Variables.stockData.dataSet.query.results.quote.Name" padding="unset 0px">
                        <wm-container horizontalalign="center" height="50%" show="bind:($root.Variables.TopGainers.dataSet.Portfolio.length === 0)" name="container10_1" padding="6em unset 9em unset">
                            <wm-label display="block" caption="No Items in portflio" name="label34_1" margin="unset unset 1em unset"></wm-label>
                        </wm-container>
                        <wm-container name="container11_3" show="bind:$root.Variables.TopGainers.dataSet.Portfolio.length > 0" margin="4px unset unset unset">
                            <wm-label name="label23_1" caption="MY STOCKS" fontsize="15" margin="unset 0.3em unset 0.5em" padding="0.5em unset"></wm-label>
                            <wm-livelist listclass="list-group custom-list" itemclass="list-group-item" name="topPortfolio" itemsperrow="1" dataset="bind:Variables.TopGainers.dataSet.Portfolio" marginunit="px" paddingunit="px" on-tap="topPortfolioTap($event, $scope);Variables.goToPage_StockData.invoke()">
                                <wm-listtemplate layout="blank" name="listtemplate4">
                                    <wm-container class="stock-list" data-template-ctr="true" name="container8" marginunit="em" height="auto" paddingunit="em">
                                        <wm-layoutgrid name="layoutgrid4_1">
                                            <wm-gridrow name="gridrow4_1">
                                                <wm-gridcolumn columnwidth="8" name="gridcolumn8" padding="unset 1em unset unset">
                                                    <wm-label width="100%" caption="bind:Variables.TopGainers.dataSet.Portfolio.Symbol" name="label29_1" color="#4A4340" fontsize="1" fontunit="em" fontweight="bold" margin="unset unset 1px unset"></wm-label>
                                                    <wm-label width="100%" caption="bind:Variables.TopGainers.dataSet.Portfolio.Name" name="label30" color="#8e8e8e" fontsize="0.84" class="truncate" fontunit="em" fontweight="bold" margin="unset 3px 1px unset"></wm-label>
                                                    <wm-label width="100%" caption="bind:Variables.TopGainers.dataSet.Portfolio.ShareQty+&quot; Shares&quot;" name="label32" color="#EAA654" fontsize="0.8" fontunit="em"></wm-label>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn10_1">
                                                    <wm-icon name="icon11" iconclass="wm wm_up-arrow-thin fa-lg" show="bind:Variables.TopGainers.dataSet.Portfolio.Change >=0" color="#79995C"></wm-icon>
                                                    <wm-icon name="icon1_1" iconclass="wm wm_down-arrow-thin fa-lg" show="bind:Variables.TopGainers.dataSet.Portfolio.Change <0" color="#A23A4"></wm-icon>
                                                    <wm-label width="100%" caption="bind:Variables.TopGainers.dataSet.Portfolio.Ask" name="label24" fontsize="1.2" color="#474646" fontunit="em" display="inline" fontweight="bold" padding="0.3em unset unset 0.3em"></wm-label>
                                                    <wm-label width="100%" caption="bind:(Variables.TopGainers.dataSet.Portfolio.Change || '+0.00')+&quot;(&quot;+(Variables.TopGainers.dataSet.Portfolio.PercentChange || '+0.00%')+&quot;)&quot;"
                                                    name="label27_1" display="inline-block" fontsize="0.85" fontunit="em" color="#666" fontweight="bold" margin="0.7em unset unset unset"></wm-label>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                        </wm-layoutgrid>
                                    </wm-container>
                                </wm-listtemplate>
                            </wm-livelist>
                        </wm-container>
                        <wm-container name="container12" show="bind:Variables.TopGainers.dataSet.Wish.length!==0">
                            <wm-label caption="WISH LIST" fontsize="15" name="label33" margin=".5em 0.5em"></wm-label>
                            <wm-livelist listclass="list-group custom-list" itemclass="list-group-item" name="topWish" itemsperrow="1" dataset="bind:Variables.TopGainers.dataSet.Wish" paddingunit="px" height="100%" on-tap="topWishTap($event, $scope);Variables.goToPage_StockData.invoke()">
                                <wm-listtemplate layout="blank" name="listtemplate4_1">
                                    <wm-container class="stock-list" data-template-ctr="true" name="container11_1">
                                        <wm-layoutgrid name="layoutgrid5">
                                            <wm-gridrow name="gridrow5" paddingunit="em">
                                                <wm-gridcolumn columnwidth="8" name="gridcolumn10_2" padding="unset 1em unset unset">
                                                    <wm-label width="100%" caption="bind:Variables.TopGainers.dataSet.Wish.Symbol" color="#4A4340" fontsize="1" fontunit="em" fontweight="bold" name="label36_4" margin="unset unset 1px unset"></wm-label>
                                                    <wm-label width="100%" caption="bind:Variables.TopGainers.dataSet.Wish.Name" color="#8e8e8e" fontsize="0.84" class="truncate" fontunit="em" fontweight="bold" name="label37_2" margin="unset unset 1px unset"></wm-label>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn11_1">
                                                    <wm-icon iconclass="wm wm_up-arrow-thin fa-lg" show="bind:Variables.TopGainers.dataSet.Wish.Change >=0" name="icon11_1" color="#79995C"></wm-icon>
                                                    <wm-icon iconclass="wm wm_down-arrow-thin fa-lg" show="bind:Variables.TopGainers.dataSet.Wish.Change <0" name="icon12" color="#A23A4"></wm-icon>
                                                    <wm-label width="100%" caption="bind:Variables.TopGainers.dataSet.Wish.Ask" fontsize="1.2" color="#474646" fontunit="em" display="inline" name="label39_1" fontweight="bold" padding="0.3em unset unset 0.3em"></wm-label>
                                                    <wm-label width="100%" caption="bind:(Variables.TopGainers.dataSet.Wish.Change || '+0.00')+&quot;(&quot;+(Variables.TopGainers.dataSet.Wish.PercentChange || '+0.00%')+&quot;)&quot;" display="inline-block"
                                                    fontsize="0.85" fontunit="em" color="#666" name="label40_1" fontweight="bold" margin="0.7em unset unset unset"></wm-label>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                        </wm-layoutgrid>
                                    </wm-container>
                                </wm-listtemplate>
                            </wm-livelist>
                        </wm-container>
                        <wm-container horizontalalign="center" height="50%" show="bind:Variables.TopGainers.dataSet.Wish.length===0" name="container14" bordercolor="#808080" borderstyle="solid" borderwidth="1px 0px 0px 0px" padding="6em unset 9em unset">
                            <wm-label display="block" caption="No Items in wishlist" name="label36_2" margin="unset unset 1em unset"></wm-label>
                        </wm-container>
                    </wm-segment-content>
                    <wm-segment-content caption="" name="MyPortfolio" iconclass="glyphicon glyphicon-briefcase" loadmode="after-select">
                        <wm-container horizontalalign="center" height="100%" name="AddPortfolio" show="bind:Variables.portfolioListDB.dataSet.content.length===0" padding="12em unset 9em unset">
                            <wm-label display="block" caption="No Items in portflio" name="label12" fontsize="14" margin="unset unset 20px unset"></wm-label>
                            <wm-label display="block" caption="Add the stock you own and track their <br> performance." color="#594D51" name="label13" textalign="center" fontsize="13" width="100%" margin="unset unset 10px unset" padding="unset 2em"></wm-label>
                            <wm-button class="btn-default" caption="Add" type="button" width="200px" name="addPortfolio" color="#E99939" on-tap="addPortfolioTap($event, $scope);goToPage_AddSymbol"></wm-button>
                        </wm-container>
                        <wm-container name="container6" show="bind:Variables.portfolioListDB.dataSet.content.length!==0" padding="0.5em unset unset unset">
                            <wm-layoutgrid name="layoutgrid6_1" backgroundcolor="#ffffff" bordercolor="#F3F3F4" borderstyle="solid" borderwidth="0px 0px 1px 0px">
                                <wm-gridrow name="gridrow15_2" paddingunit="em">
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn30_2" bordercolor="#F3F3F4" borderstyle="solid" horizontalalign="center" height="50pt" borderwidth="unset 1px unset unset" padding="1em unset">
                                        <wm-label name="label26_1" color="#706e6e" caption="TOTAL INVESTMENT" paddingunit="em" width="100%" fontunit="em" textalign="center" fontweight="bold" fontfamily="Arial" display="inline" fontsize="0.75"></wm-label>
                                        <wm-label color="#000000" caption="bind:Variables.pieChartData.dataSet[0].values+Variables.pieChartData.dataSet[1].values | toCurrency: '$'" fontsize="1.7" name="label29" fontweight="bold" width="100%"
                                        textalign="center" fontunit="em" margin=".3em unset unset unset"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn31" bordercolor="#F3F3F4" borderstyle="solid" horizontalalign="center" height="50pt" borderwidth="unset 1px unset unset" padding="1em unset">
                                        <wm-icon name="icon1" color="#0DA7A1" iconclass="fa fa-circle" iconsize="0.8em"></wm-icon>
                                        <wm-label color="#706e6e" name="label27" caption="TOTAL GAIN" width="100%" fontunit="em" textalign="left" fontweight="bold" display="inline" fontsize="0.75" padding="unset unset unset 0.3em"></wm-label>
                                        <wm-label color="#666363" caption="bind:Variables.pieChartData.dataSet[0].values | toCurrency: '$'" fontsize="1.1" name="label30_1" textalign="center" width="100%" fontweight="bold" fontunit="em" margin=".3em unset unset unset"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn32" borderstyle="none" horizontalalign="center" height="50pt" padding="1em unset">
                                        <wm-icon name="icon2" color="#E9E5A0" iconclass="fa fa-circle" iconsize="0.8em"></wm-icon>
                                        <wm-label color="#706e6e" caption="TOTAL LOSS" width="100%" fontunit="em" textalign="left" fontweight="bold" display="inline" fontsize="0.75" name="label36_3" padding="unset unset unset 0.3em"></wm-label>
                                        <wm-label color="#666363" caption="bind:Variables.pieChartData.dataSet[1].values | toCurrency: '$'" fontsize="1.1" name="label31_1" width="100%" fontweight="bold" fontunit="em" textalign="center" margin=".3em unset unset unset"></wm-label>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                            <wm-container name="container15" backgroundcolor="#ffffff" horizontalalign="center">
                                <wm-chart type="Pie" name="chart2" theme="Retro" dataset="bind:Variables.pieChartData.dataSet" xaxisdatakey="label" yaxisdatakey="values" showlabels="true" showlegend="top" tooltips="true" legendtype="classic" showlabelsoutside="true"
                                fontunit="px" height="260px" borderstyle="none" fontsize="12" width="270px" customcolors="bind:['#8CBDB3','#E9E5A0']" class="chart" padding="1em unset unset unset"></wm-chart>
                            </wm-container>
                            <wm-label caption="MY STOCKS" fontsize="1.4" fontunit="em" width="100%" textalign="left" name="label11_1" color="#7d7d7d" margin="2em unset unset .5em"></wm-label>
                            <wm-livelist listclass="list-group" itemclass="list-group-item" backgroundcolor="transparent" show="bind:!($root.APP_RUN_MODE &amp;&amp; Variables.symbolDataAPIWish.dataSet.query.results.quote.symbol === 'SYMB')"
                            name="portfolio" dataset="bind:Variables.StockArray.dataSet.Portfolio" on-tap="portfolioTap($event, $scope);Variables.goToPage_StockData.invoke()" margin="unset unset unset 1px">
                                <wm-listtemplate layout="blank" name="listtemplate3">
                                    <wm-container data-template-ctr="true" name="container11_2" marginunit="em" paddingunit="em" class="stock-list">
                                        <wm-layoutgrid name="layoutgrid4">
                                            <wm-gridrow class="stock-item" height="100%" name="gridrow4">
                                                <wm-gridcolumn columnwidth="8" name="gridcolumn10" padding="unset 1em unset unset">
                                                    <wm-label width="170" caption="bind:Variables.StockArray.dataSet.Portfolio.Symbol" display="block" color="#4A4340" fontweight="bold" fontsize="1.2" fontunit="em" name="label34"></wm-label>
                                                    <wm-label width="100%" caption="bind:Variables.StockArray.dataSet.Portfolio .Name" display="block" color="#8e8e8e" fontsize="0.84" fontunit="em" name="label35" fontweight="bold" class="truncate"></wm-label>
                                                    <wm-label caption="bind:Variables.StockArray.dataSet.Portfolio .ShareQty + ' shares'" show="bind:Variables.StockArray.dataSet.Portfolio .ShareQty !== undefined" color="#EAA654" fontunit="em"
                                                    name="label36_1" fontsize="0.8"></wm-label>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn11" overflow="visible">
                                                    <wm-icon iconclass="wm wm_up-arrow-thin fa-lg" show="bind:Variables.StockArray.dataSet.Portfolio .Change >=0" name="icon16" color="#79995C"></wm-icon>
                                                    <wm-icon iconclass="wm wm_down-arrow-thin fa-lg" show="bind:Variables.StockArray.dataSet.Portfolio .Change<0" name="icon17"></wm-icon>
                                                    <wm-label caption="bind:Variables.StockArray.dataSet.Portfolio .Ask" fontsize="1.3" color="#474646" fontunit="em" name="label37_1" fontweight="bold" display="initial" margin="unset unset unset 0.3em"></wm-label>
                                                    <wm-label width="100%" caption="bind:(Variables.StockArray.dataSet.Portfolio.Change || '+0.00')+'('+(Variables.StockArray.dataSet.Portfolio.PercentChange || '+0.00%')+')'" display="inline-block"
                                                    fontsize="0.85" fontunit="em" name="label38" color="#666" fontweight="bold" margin="0.7em unset unset unset" padding="unset unset unset 3px"></wm-label>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                        </wm-layoutgrid>
                                    </wm-container>
                                </wm-listtemplate>
                            </wm-livelist>
                            <wm-container horizontalalign="center" show="bind:!$root.APP_RUN_MODE || Variables.symbolDataAPIWish.dataSet.query.results.quote.symbol === 'SYMB'" name="container10" margin="unset unset unset 1px">
                                <wm-picture picturesource="resources/images/ripple.svg" width="64px" height="64px" name="picture2"></wm-picture>
                            </wm-container>
                        </wm-container>
                    </wm-segment-content>
                    <wm-segment-content caption="" name="MyWishList" show="true" iconclass="glyphicon glyphicon-eye-open fa-lg" borderstyle="none" loadmode="after-select">
                        <wm-container name="AddWishList" horizontalalign="center" height="100%" show="bind:Variables.wishListDB.dataSet.content.length===0" padding="12em unset 9em unset">
                            <wm-label name="label10" display="block" caption="No Items in wishlist" fontsize="15" width="100%" margin="unset unset 15px unset"></wm-label>
                            <wm-label display="block" caption="Add the stock you want to track" name="label11" color="#594D51" width="100%" margin="unset unset 10px unset"></wm-label>
                            <wm-button class="btn-default" caption="Add" type="button" name="addWishlist" width="150px" on-tap="addWishlistTap($event, $scope);goToPage_AddSymbol" color="#E99939"></wm-button>
                        </wm-container>
                        <wm-container name="container13" show="bind:Variables.wishListDB.dataSet.content.length!==0">
                            <wm-livelist listclass="list-group" itemclass="list-group-item" backgroundcolor="transparent" show="bind:!($root.APP_RUN_MODE &amp;&amp; Variables.symbolDataAPIWish.dataSet.query.results.quote.symbol === 'SYMB')" name="WishList"
                            dataset="bind:Variables.StockArray.dataSet.Wish" selectionlimit="2" on-tap="WishListTap($event, $scope);Variables.goToPage_StockData.invoke()" margin=".5em unset unset unset">
                                <wm-listtemplate layout="blank" name="listtemplate1">
                                    <wm-container data-template-ctr="true" name="container11" paddingunit="em" class="stock-list">
                                        <wm-layoutgrid name="layoutgrid1">
                                            <wm-gridrow class="stock-item" height="100%" name="gridrow1">
                                                <wm-gridcolumn columnwidth="8" name="gridcolumn1" padding="unset 1em unset unset">
                                                    <wm-label width="100%" caption="bind:Variables.StockArray.dataSet.Wish.Symbol" display="block" color="#4A4340" fontweight="bold" fontsize="1.2" fontunit="em" name="label14"></wm-label>
                                                    <wm-label width="100%" caption="bind:Variables.StockArray.dataSet.Wish.Name" display="block" color="#8e8e8e" fontsize="0.84" fontunit="em" name="label15" fontweight="bold" class="truncate"></wm-label>
                                                    <wm-label caption="bind:Variables.symbolDataAPIWish.dataSet.query.results.quote.ShareQty + ' shares'" show="bind:Variables.symbolDataAPIWish.dataSet.query.results.quote.ShareQty !== undefined"
                                                    color="#ff8700" fontunit="em" name="label16"></wm-label>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="4" height="auto" name="gridcolumn2" overflow="visible">
                                                    <wm-icon iconclass="wm wm_down-arrow-thin fa-lg" show="bind:Variables.StockArray.dataSet.Wish.Change<0" name="icon3"></wm-icon>
                                                    <wm-icon iconclass="wm wm_up-arrow-thin fa-lg" show="bind:Variables.StockArray.dataSet.Wish.Change>=0" name="icon2" opacity="1" color="#79995C"></wm-icon>
                                                    <wm-label width="100%" caption="bind:Variables.StockArray.dataSet.Wish.Ask" fontsize="1.3" color="#474646" fontunit="em" name="label17" display="inline" fontweight="bold" margin="unset unset unset 0.3em"></wm-label>
                                                    <wm-label width="100%" caption="bind:(Variables.StockArray.dataSet.Wish.Change || '+0.00')+'('+(Variables.StockArray.dataSet.Wish.PercentChange || '+0.00%')+')'" display="inline-block" fontsize="0.85"
                                                    fontunit="em" name="label18" color="#8e8e8e" fontweight="bold" margin="0.7em unset unset unset" padding="unset unset unset 3px"></wm-label>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                        </wm-layoutgrid>
                                    </wm-container>
                                </wm-listtemplate>
                            </wm-livelist>
                            <wm-container horizontalalign="center" show="bind:!$root.APP_RUN_MODE || Variables.symbolDataAPIWish.dataSet.query.results.quote.symbol === 'SYMB'" name="container7">
                                <wm-picture picturesource="resources/images/ripple.svg" width="64px" height="64px" name="picture1"></wm-picture>
                            </wm-container>
                        </wm-container>
                    </wm-segment-content>
                </wm-segmented-control>
                <wm-layoutgrid name="layoutgrid7">
                    <wm-gridrow name="gridrow7">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn14" horizontalalign="center">
                            <wm-label name="offline" caption="You are offline" fontunit="em" fontsize="2" show="bind:Variables.network_status.dataSet.isOffline" textalign="center" margin="55% unset unset unset"></wm-label>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
            </wm-container>
            <wm-container name="searchView" height="100%" show="bind:Widgets.mobile_navbar1.showSearchbar">
                <wm-livelist listclass="list-group" itemclass="list-group-item" dataset="bind:Variables.SymbolSearchDB.dataSet" backgroundcolor="transparent" class="search-list" name="SearchList" show="true" on-tap="SearchListTap($event, $scope)" margin="1em unset unset unset">
                    <wm-listtemplate layout="blank" name="listtemplate5">
                        <wm-container class="stock-list" data-template-ctr="true" name="container18">
                            <wm-layoutgrid name="layoutgrid6">
                                <wm-gridrow name="gridrow6">
                                    <wm-gridcolumn columnwidth="11" name="gridcolumn12">
                                        <wm-label width="100%" caption="bind:Variables.SymbolSearchDB.dataSet.Symbol" color="#4A4340" fontsize="1.2" fontweight="bold" fontunit="em" name="label35_1" margin="unset unset 2px unset"></wm-label>
                                        <wm-label width="100%" caption="bind:Variables.SymbolSearchDB.dataSet.Name" fontsize="0.84" color="#8e8e8e" fontweight="bold" fontunit="em" class="truncate" name="label36"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="1" height="100%" name="gridcolumn13" padding="10px unset unset unset">
                                        <wm-icon iconclass="bind:Variables.SymbolSearchDB.dataSet.exist > 0 ?  &quot;wm wm_eye fa-2x exist&quot; : &quot;wm wm_eye fa-2x not-exist&quot;" name="icon11_2"></wm-icon>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                        </wm-container>
                    </wm-listtemplate>
                </wm-livelist>
            </wm-container>
        </wm-page-content>
    </wm-content>
</wm-page>