<wm-partial data-ng-controller="SymbolGraphPageController" name="partial1"> 
    <wm-container name="container1" backgroundcolor="#ffffff" height="100%"> 
        <wm-chart type="Line" theme="Terrestrial" offsetleft="10" offsetright="10" offsettop="20" offsetbottom="10" dataset="bind:Variables.graphData.dataSet" tooltips="false" showlegend="false" captions="false" showxaxis="false" showyaxis="false" linethickness="2" height="210px" name="chart1" on-transform="chart1Transform($event, $scope)" backgroundimage="resources/images/imagelists/graphBG.png" yaxisdatakey="Open" xaxisdatakey="Date"></wm-chart> 
        <wm-layoutgrid name="layoutgrid1"> 
            <wm-gridrow name="gridrow1" paddingbottom="1.5" paddingtop="1.5" paddingunit="em"> 
                <wm-gridcolumn columnwidth="12" name="gridcolumn1" horizontalalign="center"> 
                    <wm-label name="label25" caption="bind:Variables.currentDate.dataSet.dataValue | date : 'EEEE MMM yyyy'"></wm-label> 
                </wm-gridcolumn> 
            </wm-gridrow> 
            <wm-list name="list1"> 
                <wm-list-item name="list_item1"></wm-list-item> 
                <wm-list-item name="list_item2"> 
                    <wm-gridrow paddingleft="1" paddingtop="1" paddingright="1" paddingbottom="1" paddingunit="em" name="gridrow18"> 
                        <wm-gridcolumn columnwidth="6" paddingright="0.5" paddingunit="em" name="gridcolumn34"> 
                            <wm-gridrow name="gridrow19"> 
                                <wm-gridcolumn columnwidth="4" name="gridcolumn35"> 
                                    <wm-label caption="Close" name="label44"></wm-label> 
                                </wm-gridcolumn> 
                                <wm-gridcolumn columnwidth="8" horizontalalign="right" name="gridcolumn36"> 
                                    <wm-label caption="bind:Variables.symbolData.dataSet.query.results.quote.PreviousClose" textalign="right" fontweight="bold" color="#5B5D5F" name="label45"></wm-label> 
                                </wm-gridcolumn> 
                            </wm-gridrow> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="6" paddingleft="0.5" paddingunit="em" name="gridcolumn37"> 
                            <wm-gridrow name="gridrow20"> 
                                <wm-gridcolumn columnwidth="4" name="gridcolumn38"> 
                                    <wm-label caption="Open" name="label46"></wm-label> 
                                </wm-gridcolumn> 
                                <wm-gridcolumn columnwidth="8" horizontalalign="right" name="gridcolumn39"> 
                                    <wm-label caption="bind:Variables.symbolData.dataSet.query.results.quote.Open" color="#5B5D5F" fontweight="bold" name="label47"></wm-label> 
                                </wm-gridcolumn> 
                            </wm-gridrow> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                </wm-list-item> 
                <wm-list-item name="list_item3"> 
                    <wm-gridrow paddingleft="1" paddingtop="1" paddingright="1" paddingbottom="1" paddingunit="em" name="gridrow21"> 
                        <wm-gridcolumn columnwidth="6" paddingright="0.5" paddingunit="em" name="gridcolumn40"> 
                            <wm-gridrow name="gridrow22"> 
                                <wm-gridcolumn columnwidth="4" name="gridcolumn41"> 
                                    <wm-label caption="Low" name="label48"></wm-label> 
                                </wm-gridcolumn> 
                                <wm-gridcolumn columnwidth="8" horizontalalign="right" name="gridcolumn42"> 
                                    <wm-label caption="bind:Variables.symbolData.dataSet.query.results.quote.DaysLow" textalign="right" color="#5B5D5F" fontweight="bold" name="label49"></wm-label> 
                                </wm-gridcolumn> 
                            </wm-gridrow> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="6" paddingleft="0.5" paddingunit="em" name="gridcolumn43"> 
                            <wm-gridrow name="gridrow23"> 
                                <wm-gridcolumn columnwidth="4" name="gridcolumn44"> 
                                    <wm-label caption="High" name="label50"></wm-label> 
                                </wm-gridcolumn> 
                                <wm-gridcolumn columnwidth="8" horizontalalign="right" name="gridcolumn45"> 
                                    <wm-label caption="bind:Variables.symbolData.dataSet.query.results.quote.DaysHigh" color="#5B5D5F" fontweight="bold" name="label51"></wm-label> 
                                </wm-gridcolumn> 
                            </wm-gridrow> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                </wm-list-item> 
                <wm-list-item name="list_item4"> 
                    <wm-gridrow paddingleft="1" paddingtop="1" paddingright="1" paddingbottom="1" paddingunit="em" name="gridrow24"> 
                        <wm-gridcolumn columnwidth="6" paddingright="0.5" paddingunit="em" name="gridcolumn46"> 
                            <wm-gridrow name="gridrow25"> 
                                <wm-gridcolumn columnwidth="5" name="gridcolumn47"> 
                                    <wm-label caption="52wk Low" name="label52"></wm-label> 
                                </wm-gridcolumn> 
                                <wm-gridcolumn columnwidth="7" horizontalalign="right" name="gridcolumn48"> 
                                    <wm-label caption="bind:Variables.symbolData.dataSet.query.results.quote.YearLow" textalign="right" color="#5B5D5F" fontweight="bold" name="label53"></wm-label> 
                                </wm-gridcolumn> 
                            </wm-gridrow> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="6" paddingleft="0.5" paddingunit="em" name="gridcolumn49"> 
                            <wm-gridrow name="gridrow26_1"> 
                                <wm-gridcolumn columnwidth="6" name="gridcolumn50_1"> 
                                    <wm-label caption="52wk High" name="label54"></wm-label> 
                                </wm-gridcolumn> 
                                <wm-gridcolumn columnwidth="6" horizontalalign="right" name="gridcolumn51_1"> 
                                    <wm-label caption="bind:Variables.symbolData.dataSet.query.results.quote.YearHigh" fontweight="bold" color="#5B5D5F" name="label55"></wm-label> 
                                </wm-gridcolumn> 
                            </wm-gridrow> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                </wm-list-item> 
                <wm-list-item name="list_item5"> 
                    <wm-gridrow paddingleft="1" paddingtop="1" paddingright="1" paddingbottom="1" paddingunit="em" name="gridrow27_1"> 
                        <wm-gridcolumn columnwidth="6" paddingright="0.5" paddingunit="em" name="gridcolumn52_1"> 
                            <wm-gridrow name="gridrow28_1"> 
                                <wm-gridcolumn columnwidth="5" name="gridcolumn53_1"> 
                                    <wm-label caption="Mkt Cap" name="label56"></wm-label> 
                                </wm-gridcolumn> 
                                <wm-gridcolumn columnwidth="7" horizontalalign="right" name="gridcolumn54_1"> 
                                    <wm-label caption="bind:Variables.symbolData.dataSet.query.results.quote.MarketCapitalization" textalign="right" color="#5B5D5F" fontweight="bold" name="label57"></wm-label> 
                                </wm-gridcolumn> 
                            </wm-gridrow> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="6" paddingleft="0.5" paddingunit="em" name="gridcolumn55_1"> 
                            <wm-gridrow name="gridrow29"> 
                                <wm-gridcolumn columnwidth="4" name="gridcolumn56"> 
                                    <wm-label caption="Volume" name="label58"></wm-label> 
                                </wm-gridcolumn> 
                                <wm-gridcolumn columnwidth="8" horizontalalign="right" name="gridcolumn57"> 
                                    <wm-label caption="bind:Variables.symbolData.dataSet.query.results.quote.Volume" fontweight="bold" color="#5B5D5F" name="label59"></wm-label> 
                                </wm-gridcolumn> 
                            </wm-gridrow> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                </wm-list-item> 
                <wm-list-item name="list_item5"> 
                    <wm-gridrow paddingleft="1" paddingtop="1" paddingright="1" paddingbottom="1" paddingunit="em" name="gridrow27_1"> 
                        <wm-gridcolumn columnwidth="6" paddingright="0.5" paddingunit="em" name="gridcolumn52_1"> 
                            <wm-gridrow name="gridrow28_1"> 
                                <wm-gridcolumn columnwidth="6" name="gridcolumn53_1"> 
                                    <wm-label caption="1Y Target" name="label44_1"></wm-label> 
                                </wm-gridcolumn> 
                                <wm-gridcolumn columnwidth="6" horizontalalign="right" name="gridcolumn54_1"> 
                                    <wm-label caption="bind:Variables.symbolData.dataSet.query.results.quote.MarketCapitalization" textalign="right" color="#5B5D5F" fontweight="bold" name="label57"></wm-label> 
                                </wm-gridcolumn> 
                            </wm-gridrow> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="6" paddingleft="0.5" paddingunit="em" name="gridcolumn55_1"> 
                            <wm-gridrow name="gridrow29"> 
                                <wm-gridcolumn columnwidth="4" name="gridcolumn56"> 
                                    <wm-label caption="Avg Vol" name="label45_1"></wm-label> 
                                </wm-gridcolumn> 
                                <wm-gridcolumn columnwidth="8" horizontalalign="right" name="gridcolumn57"> 
                                    <wm-label caption="bind:Variables.symbolData.dataSet.query.results.quote.AverageDailyVolume" textalign="right" fontweight="bold" color="#5B5D5F" name="label46_1"></wm-label> 
                                </wm-gridcolumn> 
                            </wm-gridrow> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                </wm-list-item> 
            </wm-list> 
        </wm-layoutgrid> 
    </wm-container> 
</wm-partial>