.wm-app .btn-default.graph-tabs.active,
.wm-app .btn-default.graph-tabs:active,
.wm-app .btn-default.graph-tabs:focus,
.wm-app .btn-default.graph-tabs:hover,
.wm-app .btn-default.graph-tabs.active:hover {
    background-color: #fff !important;
    color: inherit !important;
    text-decoration: none;
}