<wm-page data-ng-controller="ComparePageController" name="page1">
    <wm-mobile-navbar name="mobile_navbar1" title="Compare" backbuttoniconclass="wi wi-back" leftnavpaneliconclass="wi wi-keyboard-arrow-left"></wm-mobile-navbar>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1" backgroundcolor="#E99939">
            <wm-layoutgrid name="layoutgrid2" class="grid-layout-Orange">
                <wm-gridrow name="gridrow3" color="#ffffff" padding="4em 1em">
                    <wm-gridcolumn columnwidth="6" name="gridcolumn4" class="col-xs-6" padding="unset 0.7em">
                        <wm-label name="label2" display="block" caption="bind:Variables.compareSymbolsData.dataSet.results.quote[0].Symbol" fontsize="1.4" fontunit="em"></wm-label>
                        <wm-label name="label4" display="block" caption="bind:Variables.compareSymbolsData.dataSet.results.quote[0].Name" fontsize="0.95" color="#F0C08B" fontunit="em" class="truncate-multi" margin="unset unset 2em unset"></wm-label>
                        <wm-label display="block" name="label5" caption="bind:Variables.compareSymbolsData.dataSet.results.quote[0].Bid" fontsize="2" fontunit="em" fontweight="bold"></wm-label>
                        <wm-icon iconclass="wm wm_up-arrow-thin fa-2x" color="#fcf8e8" show="bind:Variables.compareSymbolsData.dataSet.results.quote[0].Change >= 0 ? true : false" name="icon5"></wm-icon>
                        <wm-icon iconclass="wm wm_down-arrow-thin fa-2x" color="#fcf8e8" show="bind:Variables.compareSymbolsData.dataSet.results.quote[0].Change < 0 ? true : false" name="icon6"></wm-icon>
                        <wm-label name="label9_1" display="inline" caption="bind:(Variables.compareSymbolsData.dataSet.results.quote[0].Change || '+0.00')+' ('+(Variables.compareSymbolsData.dataSet.results.quote[0].PercentChange || '+0.00%')+')'"
                        fontsize="0.95" fontunit="em" padding="unset unset unset 5px"></wm-label>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="6" name="gridcolumn6" class="col-xs-6" padding="unset 0.7em">
                        <wm-label name="label3" display="block" caption="bind:Variables.compareSymbolsData.dataSet.results.quote[1].Symbol" fontsize="1.4" fontunit="em"></wm-label>
                        <wm-label display="block" name="label8" caption="bind:Variables.compareSymbolsData.dataSet.results.quote[1].Name" fontsize="0.95" fontunit="em" color="#F0C08B" class="truncate-multi" margin="unset unset 2em unset"></wm-label>
                        <wm-label display="block" name="label9" caption="bind:Variables.compareSymbolsData.dataSet.results.quote[1].Bid" fontsize="2" fontweight="bold" fontunit="em" padding="unset 5px unset unset"></wm-label>
                        <wm-icon iconclass="wm wm_up-arrow-thin fa-2x" color="#fcf8e8" show="bind:Variables.compareSymbolsData.dataSet.results.quote[1].Change >=0 ? true : false" name="icon2"></wm-icon>
                        <wm-icon iconclass="wm wm_down-arrow-thin fa-2x" color="#fcf8e8" show="bind:Variables.compareSymbolsData.dataSet.results.quote[1].Change <0 ? true : false" name="icon4"></wm-icon>
                        <wm-label display="inline" name="label10" caption="bind:(Variables.compareSymbolsData.dataSet.results.quote[1].Change || '+0.00')+' ('+(Variables.compareSymbolsData.dataSet.results.quote[1].PercentChange || '+0.00%')+')'"
                        fontsize="0.95" fontunit="em" padding="unset unset unset 5px"></wm-label>
                    </wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
            <wm-layoutgrid name="buttongroup1" width="100%" backgroundcolor="rgba(0,0,0,0.1)" padding=".4em unset unset unset">
                <wm-anchor class="btn-default col-xs-2 graph-tabs" caption="1W" on-tap="weekOneTap($event, $scope)" name="weekOne" backgroundcolor="transparent" color="#ffffff" bordercolor="transparent" textalign="center" padding="0.8em unset"></wm-anchor>
                <wm-anchor class="btn-default col-xs-2 graph-tabs" caption="2W" on-tap="weekTwoTap($event, $scope)" name="weekTwo" backgroundcolor="transparent" color="#ffffff" bordercolor="transparent" textalign="center" padding="0.8em unset"></wm-anchor>
                <wm-anchor class="btn-default col-xs-2 graph-tabs" caption="1M" on-tap="monthOneTap($event, $scope)" name="monthOne" backgroundcolor="transparent" color="#ffffff" bordercolor="transparent" textalign="center" padding="0.8em unset"></wm-anchor>
                <wm-anchor class="btn-default col-xs-2 graph-tabs" caption="3M" on-tap="monthThreeTap($event, $scope)" name="monthThree" backgroundcolor="transparent" color="#ffffff" bordercolor="transparent" textalign="center" padding="0.8em unset"></wm-anchor>
                <wm-anchor class="btn-default col-xs-2 graph-tabs" caption="6M" on-tap="halfYearTap($event, $scope)" name="halfYear" backgroundcolor="transparent" color="#ffffff" bordercolor="transparent" textalign="center" padding="0.8em unset"></wm-anchor>
                <wm-anchor class="btn-default col-xs-2 graph-tabs" caption="1Y" on-tap="yearTap($event, $scope)" name="year" backgroundcolor="transparent" color="#ffffff" bordercolor="transparent" textalign="center" padding="0.8em unset"></wm-anchor>
            </wm-layoutgrid>
            <wm-container name="container1" backgroundcolor="#ffffff" padding="1em unset unset unset">
                <wm-layoutgrid name="layoutgrid2" marginunit="em">
                    <wm-gridrow name="gridrow15" horizontalalign="left">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn28" horizontalalign="right">
                            <wm-icon name="icon1" iconclass="fa fa-circle" color="#0CA7A1"></wm-icon>
                            <wm-label caption="bind:Variables.symbolData.dataSet.query.results.quote[0].Symbol" name="label19_1" display="inline" padding="unset 1em unset 0.5em"></wm-label>
                            <wm-icon iconclass="fa fa-circle" name="icon2" color="#D68524"></wm-icon>
                            <wm-label caption="bind:Variables.symbolData.dataSet.query.results.quote[1].Symbol" name="label20_1" display="inline" padding="unset 2em unset 0.5em"></wm-label>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
                <wm-chart type="Cumulative Line" theme="Retro" offsetleft="10" offsetright="10" offsettop="20" offsetbottom="10" dataset="bind:Variables.compareGraphData.dataSet" tooltips="true" showlegend="false" captions="false" showxaxis="false" showyaxis="false"
                linethickness="2" name="chart1" on-transform="chart1Transform($event, $scope)" xaxisdatakey="date" yaxisdatakey="openFirst,openSecond" show="true" backgroundimage="resources/images/imagelists/graphBG.png"></wm-chart>
                <wm-layoutgrid name="layoutgrid1" padding="unset 5px">
                    <wm-gridrow name="gridrow14_1" padding="1.5em unset">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn27" horizontalalign="center">
                            <wm-label caption="bind:Variables.currentDate.dataSet.dataValue | date : 'EEEE MMM yyyy'" name="label21_1"></wm-label>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-list name="list2" class="list">
                        <wm-list-item name="list_item2">
                            <wm-gridrow name="gridrow1" bordercolor="#F4F4F4" padding="1em">
                                <wm-gridcolumn columnwidth="6" name="gridcolumn3" horizontalalign="center">
                                    <wm-label name="label6" caption="bind:Variables.symbolData.dataSet.query.results.quote[0].Symbol" fontweight="bold" color="#5B5D5F"></wm-label>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="6" name="gridcolumn11_1" horizontalalign="center">
                                    <wm-label caption="bind:Variables.symbolData.dataSet.query.results.quote[1].Symbol" name="label15" color="#5B5D5F" fontweight="bold"></wm-label>
                                </wm-gridcolumn>
                            </wm-gridrow>
                        </wm-list-item>
                        <wm-list-item name="list_item2">
                            <wm-gridrow name="gridrow21" padding="1em">
                                <wm-gridcolumn columnwidth="6" name="gridcolumn38" padding="unset 0.5em unset unset">
                                    <wm-gridrow name="gridrow22_1">
                                        <wm-gridcolumn columnwidth="4" name="gridcolumn39">
                                            <wm-label caption="Low" name="label26"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="8" horizontalalign="right" name="gridcolumn40_1">
                                            <wm-label caption="bind:Variables.symbolData.dataSet.query.results.quote[0].DaysLow" textalign="right" fontweight="bold" color="#5B5D5F" name="label27_1"></wm-label>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="6" name="gridcolumn41_1" padding="unset unset unset 0.5em">
                                    <wm-gridrow name="gridrow23">
                                        <wm-gridcolumn columnwidth="4" name="gridcolumn42">
                                            <wm-label caption="Low" name="label28"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="8" horizontalalign="right" name="gridcolumn43">
                                            <wm-label caption="bind:Variables.symbolData.dataSet.query.results.quote[1].DaysLow" fontweight="bold" color="#5B5D5F" name="label29"></wm-label>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                </wm-gridcolumn>
                            </wm-gridrow>
                        </wm-list-item>
                        <wm-list-item name="list_item2">
                            <wm-gridrow name="gridrow21" padding="1em">
                                <wm-gridcolumn columnwidth="6" name="gridcolumn38" padding="unset 0.5em unset unset">
                                    <wm-gridrow name="gridrow22_1">
                                        <wm-gridcolumn columnwidth="4" name="gridcolumn39">
                                            <wm-label caption="High" name="label42"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="8" horizontalalign="right" name="gridcolumn40_1">
                                            <wm-label caption="bind:Variables.symbolData.dataSet.query.results.quote[0].DaysHigh" textalign="right" fontweight="bold" color="#5B5D5F" name="label44"></wm-label>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="6" name="gridcolumn41_1" padding="unset unset unset 0.5em">
                                    <wm-gridrow name="gridrow23">
                                        <wm-gridcolumn columnwidth="4" name="gridcolumn42">
                                            <wm-label caption="High" name="label45"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="8" horizontalalign="right" name="gridcolumn43">
                                            <wm-label caption="bind:Variables.symbolData.dataSet.query.results.quote[1].DaysHigh" fontweight="bold" color="#5B5D5F" name="label46"></wm-label>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                </wm-gridcolumn>
                            </wm-gridrow>
                        </wm-list-item>
                        <wm-list-item name="list_item2">
                            <wm-gridrow name="gridrow21" padding="1em">
                                <wm-gridcolumn columnwidth="6" name="gridcolumn38" padding="unset 0.5em unset unset">
                                    <wm-gridrow name="gridrow22_1">
                                        <wm-gridcolumn columnwidth="5" name="gridcolumn39">
                                            <wm-label caption="Mkt Cap" name="label34"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="7" horizontalalign="right" name="gridcolumn40_1">
                                            <wm-label caption="bind:Variables.symbolData.dataSet.query.results.quote[0].DaysLow" textalign="right" fontweight="bold" color="#5B5D5F" name="label27_1"></wm-label>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="6" name="gridcolumn41_1" padding="unset unset unset 0.5em">
                                    <wm-gridrow name="gridrow23">
                                        <wm-gridcolumn columnwidth="5" name="gridcolumn42">
                                            <wm-label caption="Mkt Cap" name="label35"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="7" horizontalalign="right" name="gridcolumn43">
                                            <wm-label caption="bind:Variables.symbolData.dataSet.query.results.quote[1].MarketCapitalization" fontweight="bold" color="#5B5D5F" name="label36"></wm-label>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                </wm-gridcolumn>
                            </wm-gridrow>
                        </wm-list-item>
                        <wm-list-item name="list_item2">
                            <wm-gridrow name="gridrow21" padding="1em">
                                <wm-gridcolumn columnwidth="6" name="gridcolumn38" padding="unset 0.5em unset unset">
                                    <wm-gridrow name="gridrow22_1">
                                        <wm-gridcolumn columnwidth="4" name="gridcolumn39">
                                            <wm-label caption="Volume" name="label37"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="8" horizontalalign="right" name="gridcolumn40_1">
                                            <wm-label caption="bind:Variables.symbolData.dataSet.query.results.quote[0].Volume" textalign="right" fontweight="bold" color="#5B5D5F" name="label38"></wm-label>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="6" name="gridcolumn41_1" padding="unset unset unset 0.5em">
                                    <wm-gridrow name="gridrow23">
                                        <wm-gridcolumn columnwidth="4" name="gridcolumn42">
                                            <wm-label caption="Volume" name="label39"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="8" horizontalalign="right" name="gridcolumn43">
                                            <wm-label caption="bind:Variables.symbolData.dataSet.query.results.quote[1].Volume" fontweight="bold" color="#5B5D5F" name="label40"></wm-label>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                </wm-gridcolumn>
                            </wm-gridrow>
                        </wm-list-item>
                    </wm-list>
                </wm-layoutgrid>
            </wm-container>
        </wm-page-content>
    </wm-content>
</wm-page>