@import url("fonts/icons.css");
.wm-app .app-segmented-control>.btn-group.btn-group-justified i {
    width: auto;
    height: initial;
    padding: 2pt;
    font-size: 12pt;
}
.wm-app .app-segmented-control ul {
    height: auto;
}
.stock-list {
    padding: 1.3em;
}
.bor-rad {
    border-radius: 50%;
    color: inherit;
    border: 2px solid #464540;
}
.wm-app .app-list.list > li:nth-child(odd) {
    background-color: #F4F4F4;
}
/* Spinner icon */

.wm-app .app-spinner {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.wm-app .app-spinner .spinner-message {
    background-color: transparent;
    border: none;
}
.wm-app .app-spinner .spinner-message .spinner-image {
    color: #E99939;
    font-size: 2em;
}
/* custom styles*/

.stockData.ng-hide-remove {
    transition: opacity linear 1s;
    opacity: 0;
}
.stockData.ng-hide-remove-active {
    opacity: 1;
}
/*Compare page*/

.wm-app .app-content-column.grid-layout-Orange {
    background-color: #E99939;
}
/*LookUp page*/

.wm-app .stock-search {
    width: 100%;
}
/*Stock Data page*/

.wm-app .app-content-column.grid-layout-red {
    background-color: #B33D3D;
}
.wm-app .app-content-column.grid-layout-green {
    background-color: #89B04F;
}
/* list styles*/

.wm-app .detail-list .list-group-item:odd {
    background-color: #eee;
}
/* Multiline ellipsis */

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.truncate-multi {
    display: -webkit-box !important;
    height: 3em;
    line-height: 1.4;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.wm-app .list-group-item.active {
    background-color: #f1f1f1 !important;
}
.app-segmented-control .app-segments-container>ul>li.app-segment-content {
    margin-left: 0px !important;
}
.wm-app .app-mobile-navbar .navbar .navbar-nav.navbar-right > li .dropdown.open {
    background-color: inherit;
    color: inherit;
}